@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap');

:root {

  /* OFFSETS */
  --offset-small: 0.5rem;
  --offset-default: 0.75rem;
  --offset-medium:1rem;
  --offset-large: 1.25rem;

  /* BORDERS */
  --border-small: 1px solid rgba(128, 128, 128, 0.6);
  --border-default: 2px solid rgba(128, 128, 128, 0.6);
  --border-radius--default: 4px;

  /* COLORS */
  --color-dark-green: rgba(0, 32, 0, 0.90);
  --color-dark: rgba(0, 0, 0, 0.75);
  --color-light: rgba(255, 255, 255, 0.85);
  --color-disabled: rgb(170, 170, 170);

  --color-secondary: rgb(68, 105, 56);
  --color-secondary-light: rgba(68, 105, 56, 0.2);

  --color-oragne: rgb(255, 186, 95);
  --color-oragne-light: rgba(255, 149, 10, 0.2);

  --color-success: rgb(0, 129, 41);
  --color-success-light: rgba(0, 255, 81, 0.2);

  --color-info: rgb(0, 98, 255);
  --color-info-light: rgba(0, 98, 255, 0.2);
  
  --color-warning: rgba(255, 94, 0);
  --color-warning--light: rgba(255, 94, 0, 0.2);


  --color-error: rgb(190, 30, 30);
  --color-error-light: rgba(255, 0, 0, 0.2);
}

/* ----------------- HEADERS ----------------- */
.heading {
  color: var(--color-dark-green);
  font-family: 'Cabin', sans-serif;
  font-weight: 300;

}
.heading-1 {
  font-size: 2.5rem;
}

.heading-2 {
  font-size: 2.25rem;
}

.heading-3 {
  font-size: 2rem;
}

.heading-4 {
  font-size: 1.75rem;
}

.heading-5 {
  font-size: 1.5rem
}

.heading-6 {
  font-size: 1.25rem;
}


/* ----------------- BUTTONS ----------------- */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--offset-small) var(--offset-default);
  
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius--default);
  background-color: var(--color-secondary);
  color: var(--color-light);
  
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  
  cursor: pointer;
  transition-duration: 150ms;
  transition-property: filter, background-color;
 

  
}

.btn:hover {
  filter: brightness(120%);
}

.btn-success {
  color: var(--color-light);
  border-color: var(--color-success);
  background-color: var(--color-success);
}

.btn-info {
  color: var(--color-light);
  border-color: var(--color-info);
  background-color:var(--color-info);
}

.btn-warning {
  color: var(--color-dark);
  border-color: var(--color-warning);
  background-color: var(--color-warning);
}

.btn-error {
  color: var(--color-light);
  border-color: var(--color-error);
  background-color: var(--color-error);
}

.btn-outline{
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  background-color: transparent;
}

.btn-outline-success{
  color: var(--color-success);
  border-color: var(--color-success);
  background-color: transparent;
}
.btn-outline-info{
  color: var(--color-info);
  border-color: var(--color-info);
  background-color: transparent;
}
.btn-outline-warning{
  color: var(--color-warning);
  border-color: var(--color-warning);
  background-color: transparent;
}
.btn-outline-error {
  color: var(--color-error);
  border-color: var(--color-error);
  background-color: transparent;
}

.btn-outline:hover{
  background-color: var(--color-secondary-light);
}
.btn-outline-success:hover{
  background-color: var(--color-success-light);
}
.btn-outline-info:hover{
  background-color: var(--color-info-light);
}
.btn-outline-warning:hover{
  background-color: var(--color-warning--light);
}
.btn-outline-error:hover{
  background-color: var(--color-error-light);
}
/* ----------------- LABELS ----------------- */
label{
font-family: 'Lato',sans-serif;
color: var(--color-dark-green);
font-size: 1.2rem;
font-weight: 500;
}
/* ----------------- INPUTS ----------------- */

.input-text {
  padding: var(--offset-small);
  
  border: var(--border-default);
  border-radius: var(--border-radius--default);
  
  background-color: var(--color-light);
  color: var(--color-dark-green);
  
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;

}

.input-text:focus {
  box-shadow: 0 0 7px var(--color-secondary);
  border-color:var(--color-secondary)
}

input[readonly],
input[readonly="readonly"],
input[readonly].input-text:focus,
input[readonly="readonly"].input-text:focus {
  border: var(--border-small);
  border-color: var(--color-disabled);
  color: var(--color-dark);
  background-color: var(--color-light);
  box-shadow:none ;
  cursor: default;
}

.input-radio{
  padding: var(--offset-small) 0;
}

/* ----------------- ALERTS ----------------- */
.alert{
  padding: var(--offset-default);
  
  border:var(--border-small);
  border-radius:var(--border-radius--default);
  
  background-color: var(--color-secondary-light);
  color: var(--color-dark);
  
  font-size: 1.3rem;
  font-family: 'Lato',sans-serif;
  font-weight: 300;
  text-align: center;
  
}
.alert-success{
  color: var(--color-dark);
  border-color: var(--color-success);
  background-color: var(--color-success-light);
}
.alert-warning{
  color: var(--color-dark);
  border-color: var(--color-warning);
  background-color: var(--color-warning--light);
}
.alert-info{
  color: var(--color-dark);
  border-color: var(--color-info);
  background-color: var(--color-info-light);
}
.alert-error{
  color: var(--color-dark);
  border-color: var(--color-error);
  background-color: var(--color-error-light);
}