body{
  display: grid;
  grid-template-columns: 15vw 1fr;
  grid-template-rows: 10vh auto;
  
  height: 100vh;
  width: 100vw;
  
  background-color: #fff;
  
  font-family: 'Lato',sans-serif;
  font-weight: 400;
}
p {
  margin: var(--offset-default);
  
  font-size: 1.4rem;
  font-weight: 300;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
  grid-row: 1/2;
  
  padding-right: 1rem;

  background-color: var(--color-secondary);
}
.header__title{
  color: var(--color-light);
}

.header__link--download {
  border-color: rgb(255, 186, 95);
  color:rgb(255, 186, 95);
  
  font-size: 1.1rem;
  text-decoration: none;
}

.header__link--download:hover {
  color: var(--color-secondary);
  background-color:rgb(255, 186, 95);
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-y: scroll;
  overflow-x: hidden;
}

aside {
  grid-column: 1/2;
  grid-row: 2/-1;
  
  padding: 1rem;

  color: var(--color-secondary);
  border-right: 1px solid #ccc;
  
  font-size: 1.2rem;
}

section{
  margin: 0 2rem;
  padding: 1rem;
}
article{
  margin:  2rem 0;
}

.nav__container {
  padding: 0 var(--offset-default);

  color: var(--color-dark-green);
  list-style-type: none;
}

.nav__item {
  margin-bottom: var(--offset-small);
}

.nav__item:first-child {
  margin-top: var(--offset-small);
}

.nav__item:hover {
  color: var(--color-success);
}

.nav__link {
  color: inherit;

  text-decoration: none;
}


section .header-2:first-child {
  font-size: 4rem !important;
}

.input-text-article input:first-child{
  margin-left: 0;
}
footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  height: 15vh;
  
  color: var(--color-light);
  background-color: var(--color-dark-green);
}

.footer__link{
  color: var(--color-light);
}

@media (max-width:600px){
  body{
    display: block;
  }
  aside{
    padding: var(--offset-default);
   
    border-right:none;
    border-bottom: 1px solid #ccc;
  }
  section{
    margin: 0;
  }
  .input-text-article input {
    margin-left: 0;
  }
}
